.Rhistory
*~
*.zip
*.ipynb_checkpoints
*.Rproj.user
*.Rdata
*.RData
*.rdata
cache
*.csv
*.tsv
*.xlsx
*.rda
*.sas
*.sav
*.rds
*.html
*.pdf
*.png
raw_data/06999-0001-Data.txt
raw_data/03151-0001-Data.txt
raw_data/04273-0001-Data.txt
